//
// Rijksoverheid webrijksoverheid_webfont
//

// Sans serif - regular
@font-face {
    font-family: 'RoSansRegular';
    src: url('./rijksoverheid_webfont/ROsanswebtextregular.eot'); /* IE9 Compat Modes */
    src: url('./rijksoverheid_webfont/ROsanswebtextregular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('./rijksoverheid_webfont/ROsanswebtextregular.woff') format('woff'), /* Pretty Modern Browsers */
         url('./rijksoverheid_webfont/ROsanswebtextregular.ttf')  format('truetype'); /* Safari, Android, iOS */
}
// Sans serif - bold
@font-face {
    font-family: 'RoSansBold';
    src: url('./rijksoverheid_webfont/ROsanswebtextbold.eot'); /* IE9 Compat Modes */
    src: url('./rijksoverheid_webfont/ROsanswebtextbold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('./rijksoverheid_webfont/ROsanswebtextbold.woff') format('woff'), /* Super Modern Browsers */
         url('./rijksoverheid_webfont/ROsanswebtextbold.ttf')  format('truetype'); /* Safari, Android, iOS */
}
// Sans serif - italic
@font-face {
    font-family: 'RoSansItalic';
    src: url('./rijksoverheid_webfont/ROsanswebtextitalic.eot'); /* IE9 Compat Modes */
    src: url('./rijksoverheid_webfont/ROsanswebtextitalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('./rijksoverheid_webfont/ROsanswebtextitalic.woff') format('woff'), /* Pretty Modern Browsers */
         url('./rijksoverheid_webfont/ROsanswebtextitalic.ttf')  format('truetype'); /* Safari, Android, iOS */
}
// Serif - regular
@font-face {
    font-family: 'RoSerifRegular';
    src: url('./rijksoverheid_webfont/ROserifwebregular.eot'); /* IE9 Compat Modes */
    src: url('./rijksoverheid_webfont/ROserifwebregular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('./rijksoverheid_webfont/ROserifwebregular.woff') format('woff'), /* Pretty Modern Browsers */
         url('./rijksoverheid_webfont/ROserifwebregular.ttf')  format('truetype'); /* Safari, Android, iOS */
}
// Serif - bold
@font-face {
    font-family: 'RoSerifBold';
    src: url('./rijksoverheid_webfont/ROserifwebbold.eot'); /* IE9 Compat Modes */
    src: url('./rijksoverheid_webfont/ROserifwebbold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('./rijksoverheid_webfont/ROserifwebbold.woff') format('woff'), /* Pretty Modern Browsers */
         url('./rijksoverheid_webfont/ROserifwebbold.ttf')  format('truetype'); /* Safari, Android, iOS */
}
// Serif - italic
@font-face {
    font-family: 'RoSerifItalic';
    src: url('./rijksoverheid_webfont/ROserifwebitalic.eot'); /* IE9 Compat Modes */
    src: url('./rijksoverheid_webfont/ROserifwebitalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('./rijksoverheid_webfont/ROserifwebitalic.woff') format('woff'), /* Pretty Modern Browsers */
         url('./rijksoverheid_webfont/ROserifwebitalic.ttf')  format('truetype'); /* Safari, Android, iOS */
}

//
// General styling
//

body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    font-size: 14px;
    min-height: 100%;
    font-family: 'RoSansRegular', sans-serif !important;
}
.v-application {
    font-family: 'RoSansRegular', sans-serif !important;
}

p:last-child {
    margin: 0;
}

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
    margin: 0;
    -webkit-appearance: none;
}
input[type=number] {
    -moz-appearance: textfield;
}

.datepicker {
    z-index: 99999999;
}

.v-application--is-ltr .v-list-item__action:first-child {
    margin-right: 10px;
}

$rijkshuisstijl-blue: #154273;
$rijkshuisstijl-blue-dark: #0d3764;

//
// Application
//

#app {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: hsl(0, 0%, 95%);
    &.home {
        #topnav__wrapper {
            background-color: transparent;
            // #topnav {
            //     #topnav-links__wrapper {
            //         #topnav-links {
            //             .topnav-link__wrapper {
            //                 .topnav-link {
            //                     color: #fff;
            //                 }
            //             }
            //         }
            //     }
            //     #topnav-search__wrapper {
            //         #topnav-search-button {
            //             #topnav-search-button__icon {
            //                 color: rgba(255, 255, 255, 0.75);
            //                 &:hover {
            //                     color: rgba(255, 255, 255, 1);
            //                 }
            //             }
            //         }
            //     }
            // }
        }
    }
    #topnav__wrapper {
        height: 80px;
        z-index: 999;
        background-color: hsl(0, 0%, 100%);
        #topnav {
            height: 100%;
            width: 1200px;
            display: flex;
            margin: 0 auto;
            flex-direction: row;
            align-items: center;
            position: relative;
            #topnav-ministry-logo__wrapper {
                top: 0;
                left: 0;
                width: 100%;
                display: flex;
                position: absolute;
                flex-direction: row;
                justify-content: center;
                #topnav-ministry-logo {
                    width: 290px;
                    height: 110px;
                    margin-right: -230px;
                    background-size: contain;
                    background-repeat: no-repeat;
                    background-position: center center;
                }
            }
            #topnav-logo__wrapper {
                #topnav-logo {
                    height: 40px;
                    display: flex;
                    display: block;
                    color: #ffffff;
                    font-weight: 600;
                    padding: 10px 15px;
                    border-radius: 3px;
                    flex-direction: row;
                    align-items: center;
                    transition: all .3s;
                    text-decoration: none;
                    box-sizing: border-box;
                    background-color: $rijkshuisstijl-blue;
                    &:hover {
                        background-color: $rijkshuisstijl-blue-dark;
                    }
                }
            }
            #topnav-locale__wrapper {
                margin: 0 0 0 25px;
            }
            #topnav-search__wrapper {
                display: flex;
                margin: 0 0 0 25px;
                flex-direction: row;
                align-items: center;
                #topnav-search {
                    display: flex;
                    flex-direction: row;
                    #topnav-search__input {
                        height: 30px;
                        width: 150px;
                        font-size: .9em;
                        padding: 0 10px;
                        box-sizing: border-box;
                        background-color: #fff;
                        border-top-left-radius: 3px;
                        border-bottom-left-radius: 3px;
                        border-top: 1px solid hsl(0, 0%, 80%);
                        border-left: 1px solid hsl(0, 0%, 80%);
                        border-bottom: 1px solid hsl(0, 0%, 80%);
                    }
                    #topnav-search__submit {
                        width: 30px;
                        display: flex;
                        color: #ffffff;
                        align-items: center;
                        justify-content: center;
                        background-color: #000000;
                        border-top-right-radius: 3px;
                        border-bottom-right-radius: 3px;
                    }
                }
            }
            #topnav-links__wrapper {
                flex: 1;
                display: flex;
                flex-direction: row;
                #topnav-links {
                    flex: 1;
                    margin: 0;
                    padding: 0;
                    display: flex;
                    list-style: none;
                    flex-direction: row;
                    align-items: center;
                    justify-content: flex-end;
                        transition: all .3s;
                    .topnav-link__wrapper {
                        padding: 5px 10px;
                        margin: 0 0 0 15px;
                        position: relative;
                        border-radius: 3px;
                        box-sizing: border-box;
                        // background-color: #000;
                        transition: all .3s;
                        &.with-dropdown {
                            display: flex;
                            flex-direction: column;
                            &:hover {
                                // background-color: #fff;
                                border-bottom-left-radius: 0;
                                border-bottom-right-radius: 0;
                                // box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.25);
                                .topnav-link {
                                    // color: #000000;
                                }
                                .dropdown {
                                    opacity: 1;
                                    display: block;
                                    visibility: visible;
                                }
                            }
                            .dropdown-caret {
                                margin: 0 0 0 7px;
                            }
                        }
                        .topnav-link {
                            display: flex;
                            color: #000;
                            flex-direction: row;
                            align-items: center;
                            text-decoration: none;
                            box-sizing: border-box;
                            #avatar {
                                width: 24px;
                                height: 24px;
                                margin: 0 0 0 10px;
                                border-radius: 12px;
                            }
                        }
                        &:first-child {
                            margin: 0;
                        }
                        .dropdown {
                            left: 0;
                            top: 40px;
                            margin: 0;
                            padding: 0;
                            opacity: 0;
                            visibility: hidden;
                            list-style: none;
                            position: absolute;
                            border-radius: 3px;
                            transition: all .3s;
                            background-color: #fff;
                            box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.25);
                            .dropdown-link__wrapper {
                                border-bottom: 1px solid rgba(0, 0, 0, 0.1);
                                &:last-child {
                                    border-bottom: 0;
                                }
                                &:first-child {
                                    border-top: 1px solid rgba(0, 0, 0, 0.1);
                                }
                                .dropdown-link {
                                    color: #000;
                                    display: flex;
                                    min-width: 175px;
                                    padding: 5px 10px;
                                    flex-direction: row;
                                    align-items: center;
                                    transition: all .3s;
                                    text-decoration: none;
                                    box-sizing: border-box;
                                    &:hover {
                                        background-color: hsl(0, 0%, 95%);
                                    }
                                    .dropdown-link__icon {
                                        flex: 0 0 25px;
                                        font-size: .9em;
                                    }
                                    .dropdown-link__text {
                                    }
                                }
                            }
                        }
                    }
                }
                #mobile-nav-button {
                    margin: 0 0 0 15px;
                    display: none;
                }
            }
            #topnav-buttons {
                display: flex;
                flex-direction: row;
                align-items: center;
                .topnav-button {
                    margin: 0 0 0 15px;
                }
            }
        }
    }
    #content__wrapper {
        flex: 1;
        position: relative;
    }
    #footer__wrapper {
        background-color: hsl(0, 0%, 100%);
        #footer {
            width: 1200px;
            margin: 0 auto;
            #footer-upper {
                display: flex;
                margin: 0 -15px;
                flex-direction: row;
                box-sizing: border-box;
                padding: 75px 0 25px 0;
                .footer-upper__column-wrapper {
                    flex: 1;
                    padding: 0 15px;
                    box-sizing: border-box;
                    .footer-upper__column {
                        .column-title {
                            font-weight: 600;
                            font-size: 1.5em;
                            margin: 0 0 15px 0;
                        }
                        .column-links {
                            .column-link {
                                display: block;
                                color: #000000;
                                font-size: 1.2em;
                                margin: 0 0 15px 0;
                                text-decoration: none;
                                &:last-child {
                                    margin: 0;
                                }
                            }
                        }
                    }
                }
            }
            #footer-bottom {
                display: flex;
                padding: 25px 0;
                flex-direction: row;
                box-sizing: border-box;
                #footer-bottom__left {
                    flex: 1;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                }
                #footer-bottom__right {
                    flex: 1;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: flex-end;
                    .footer-bottom-link {
                        color: #000;
                        margin: 0 25px;
                        text-decoration: none;
                    }                        
                }
            }
        }
    }
}

[v-cloak] {
    display: none;
}

// Responsive topnav
@media (max-width: 1250px) {
    #app {
        #topnav__wrapper {
            #topnav {
                width: 100%;
                padding: 0 25px;
                box-sizing: border-box;
            }
        }
    }
}
@media (max-width: 745px) {
    #app {
        #topnav__wrapper {
            #topnav {
                #topnav-search__wrapper {
                    display: none;
                }
            }
        }
    }
}
@media (max-width: 600px) {
    #app {
        #topnav__wrapper {
            #topnav {
                #topnav-links__wrapper {
                    justify-content: flex-end;
                    #topnav-links, #topnav-avatar {
                        display: none;
                    }
                    #mobile-nav-button {
                        display: flex;
                    }
                }
            }
        }
    }
}

//
// Breadcrumbs
//

#breadcrumbs-wrapper {
    // background-color: hsl(0, 0%, 10%);
    background-color: $rijkshuisstijl-blue;
    #breadcrumbs {
        display: flex;
        width: 1200px;
        margin: 0 auto;
        padding: 10px 0;
        font-size: .9em;
        list-style: none;
        flex-direction: row;
        .breadcrumb-item {
            color: #fff;
            display: flex;
            padding: 0 5px;
            flex-direction: row;
            align-items: center;
            box-sizing: border-box;
            &:last-child {
                padding: 0 0 0 5px;
            }
            &:first-child {
                padding: 0 5px 0 0;
            }
            &.active {
                color: #fff;
                font-style: italic;
            }
            &.chevron {
                font-size: .8em;
            }
            .home {
                color: #fff;
                margin-right: 5px;
            }
            .v-icon {
                color: #fff;
            }
            .svg-inline--fa, .far, .fas {
                margin-top: 0px;
                transition: all .4s;
                color: hsl(0, 0%, 95%);
            }
            a, a:active, a:visited, a:link {
                color: hsl(0, 0%, 95%);
                text-decoration: none;
                transition: all .3s;
                &:hover {
                    color: hsl(0, 0%, 100%);
                }
            }
        }
    }
}

// Responsive breadcrumbs
@media (max-width: 1250px) {
    #breadcrumbs-wrapper {
        #breadcrumbs {
            width: 100%;
            padding: 10px 25px;
        }
    }
}

//
// Content section
//

.content-section__wrapper {
    &.alt {
        background-color: hsl(0, 0%, 100%);
        // background-color: hsl(0, 0%, 95%);
    }
    .content-section {
        width: 1200px;
        margin: 0 auto;
        padding: 100px 0;
        box-sizing: border-box;
        &.alt {
            background-color: #ffffff;
        }
        &.pt50 {
            padding: 50px 0 100px 0;
        }
        .content-section__title {
            font-size: 3em;
            margin: 0 0 50px 0;
            text-transform: uppercase;
            &.centered {
                text-align: center;
            }
        }
    }
}

// Responsive content section wrapper
@media (max-width: 1250px) {
    .content-section__wrapper {
        .content-section {
            width: 100%;
            padding: 100px 25px;
            box-sizing: border-box;
        }
    }
}

#page-header {
    height: 400px;
    position: relative;
    &.narrow {
        height: 300px;
        #page-header__content {
            #page-header__subtitle {
                margin: -50px 0 30px 0;
            }
            #page-header__actions {
                margin: 30px -15px 0 -15px;
            }
        }
    }
    &.very-narrow {
        height: 200px;
        #page-header__bg-illustration {
            #bg-illustration__wrapper {
                #bg-illustration {
                    top: 20px;
                    width: 180px;
                    height: 180px;
                }
            }
        }
    }
    &.white-border-bottom {
        border-bottom: 2px solid #ffffff;
    }
    &.light {
        #page-header__bg-overlay {
            background-color: rgba(255, 255, 255, 0.85);
        }
        #page-header__content {
            #page-header__title {
                color: #000;
            }
            #page-header__subtitle {
                color: #000;
            }
        }
    }
    #page-header__bg {
        top: 0;
        left: 0;
        z-index: 1;
        width: 100%;
        height: 100%;
        position: absolute;
        background-size: cover;
        background-color: #ddd;
        background-repeat: no-repeat;
        background-position: center center;
    }
    #page-header__bg-overlay {
        top: 0;
        left: 0;
        z-index: 2;
        width: 100%;
        height: 100%;
        color: #fff;
        position: absolute;
        background-color: rgba(0, 0, 0, 0.75);
    }
    #page-header__bg-illustration {
        top: 0;
        left: 0;
        z-index: 3;
        width: 100%;
        height: 100%;
        position: absolute;
        #bg-illustration__wrapper {
            height: 100%;
            width: 1200px;
            margin: 0 auto;
            position: relative;
            #bg-illustration {
                right: 0;
                top: 20px;
                z-index: 3;
                width: 280px;
                height: 280px;
                position: absolute;
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center center;
            }
        }
    }
    #page-header__content {
        top: 0;
        left: 0;
        z-index: 4;
        width: 100%;
        height: 100%;
        display: flex;
        position: absolute;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        &.align-left {
            #page-header__content-wrapper {
                align-items: flex-start;
                #page-header__title {

                }
            }
        }
        #page-header__content-wrapper {
            display: flex;
            width: 1200px;
            margin: 0 auto;
            align-items: center;
            flex-direction: column;
            justify-content: center;
        }
        #page-header__title {
            color: #fff;
            font-size: 5em;
            line-height: 1em;
            font-weight: 600;
            margin: 0 0 50px 0;
            text-align: center;
            &.no-margin {
                margin: 0;
            }
            &.smaller {
                font-size: 3.5em;
            }
        }
        #page-header__subtitle {
            color: #fff;
            font-size: 2.2em;
            font-weight: 300;
            text-align: center;
            margin: -50px 0 0 0;
            font-family: 'RoSerifRegular', serif;
            &.no-margin {
                margin-bottom: 0 !important;
            }
        }
        #page-header__actions {
            display: flex;
            flex-direction: row;
            justify-content: center;
            margin: 50px -15px 0 -15px;
            .page-header__action {
                padding: 0 15px;
                box-sizing: border-box;
            }
        }
    }
    #page-header__actions-wrapper {
        top: 0;
        right: 0;
        z-index: 4;
        width: 1200px;
        margin: 0 auto;
        position: relative;
        #page-header__actions {
            padding: 30px 0;
            box-sizing: border-box;
            &.align-right {
                text-align: right;
            }
        }
    }
}
@media (max-width: 1300px) {
    #page-header {
        #page-header__content {
            #page-header__content-wrapper {
                width: 100%;
                padding: 0 50px;
                box-sizing: border-box;
            }
        }
    }
}

//
// Vuetify hacks
//

.v-btn {
    &.icon-right {
        .v-icon, .fa, .far, .fas, .svg-inline--fa {
            margin-right: 0;
            margin-left: 10px;
        }
    }
    .v-icon {
        margin-right: 10px;
    }
    .fa, .far, .fas, .svg-inline--fa {
        margin-right: 10px;
    }
    .custom-button-icon {
        width: 24px;
        height: 24px;
        margin-right: 8px;
    }
    &.icon-only {
        min-width: auto !important;
        .v-icon, .svg-inline--fa, .custom-button-, .fa, .fas, .far {
            margin: 0;
        }
        &.v-btn--large {
            padding: 0 16px;
        }
    }
}

i {
    font-family: 'Material Icons';
}
.italic {
    font-style: italic;
    &.margin-left {
        margin: 0 0 0 10px;
    }
    &.small {
        font-size: .8em;
        color: hsl(0, 0%, 25%);
    }
}

.mt-10 {
    margin-top: 10px;
}

//
// Typography
//

.page-title {
    font-size: 5em;
    line-height: 1em;
    font-weight: 600;
    margin: 0 0 50px 0;
    // text-transform: uppercase;
    &.centered {
        text-align: center;
    }
}
.page-subtitle  {
    font-size: 3em;
    font-weight: 300;
    margin: -50px 0 50px 0;
    font-family: 'RoSerifRegular', serif;
    &.centered {
        text-align: center;
    }
    &.standalone {
        margin: 0 0 30px 0;
    }
}
.page-subtitle__subtext {
    font-weight: 300;
    font-size: 1.5em;
    margin: -50px 0 30px 0;
    &.centered {
        text-align: center;
    }
}

//
// Content
//

.content-box {
    padding: 25px;
    margin: 0 0 30px 0;
    border-radius: 3px;
    box-sizing: border-box;
    background-color: #ffffff;
    &:last-child {
        margin: 0;
    }
}

.content-title {
    font-size: 2em;
    font-weight: 500;
    line-height: 1em;
    margin: 0 0 15px 0;
    box-sizing: border-box;
    &.centered {
        text-align: center;
    }
}
.content-subtitle {
    font-size: 1.4em;
    font-weight: 500;
    line-height: 1em;
    margin: 0 0 15px 0;
    padding: 0 0 8px 0;
    box-sizing: border-box;
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
    &.centered {
        text-align: center;
    }
}

.content-desc {
    font-size: .9em;
    padding: 10px 15px;
    margin: 0 0 30px 0;
    box-sizing: border-box;
    background-color: hsl(0, 0%, 95%);
}

//
// Flash messages
//

#feedback-wrapper {
    &.extra-margin {
        margin: 0 0 50px 0;
    }
}

.alert-wrapper {
    margin-bottom: -20px;
    padding: 50px 50px 0 50px;
}
.alert {
    color: #fff;
    border-radius: 3px;
    padding: 15px 20px;
    box-sizing: border-box;
    background-color: #ccc;
    margin-bottom: 30px;
}
.alert-success {
    background-color: #00ab16;
}
.alert-info {
    background-color: #01d3e8;
}
.alert-danger {
    background-color: #d50d06;
}
.alert-warning {
    background-color: #d55706;
}

//
// Forms
//

.form-fields {
    display: flex;
    flex-direction: row;
    margin: 0 -15px 15px -15px;
    &.mb-0 {
        margin: 0 -15px;
    }
    &.checkbox {
        .v-input--checkbox {
            margin-top: 0;
            padding-top: 0;
        }
    }
    .form-field {
        flex: 1;
        margin: 0;
        display: flex;
        padding: 0 15px;
        flex-direction: row;
        align-items: center;
        box-sizing: border-box;
        &.double {
            flex: 2;
        }
    }
    .image-field {
        flex: 1;
        padding: 0 15px;
        box-sizing: border-box;
    }
}
.form-field {
    margin: 0 0 15px 0;
    &:last-child {
        margin: 0;
    }
    &.checkbox {
        .v-input--checkbox {
            margin-top: 0;
            padding-top: 0;
        }
    }
    &.mb-0 {
        margin: 0;
    }
    &.mb-10 {
        margin-bottom: 10px;
    }
    &.mb-15 {
        margin-bottom: 15px;
    }
    &.mt-10 {
        margin-top: 10px;
    }
    &.mt-15 {
        margin-top: 15px;
    }
}

.form-controls {
    display: flex;
    margin: 35px 0 0 0;
    flex-direction: row;
    &.no-margin {
        margin: 0;
    }
    &.less-margin {
        margin: 15px 0 0 0;
    }
    .form-controls__left, .form-controls__right {
        flex: 1;
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .form-controls__left {
        .v-btn {
            margin: 0 15px 0 0;
        }
    }
    .form-controls__right {
        justify-content: flex-end;
        .v-btn {
            margin: 0 0 0 15px;
        }
    }
}

.image-field {
    margin: 0 0 25px 0;
    &.no-margin {
        margin: 0;
    }
    &.has-errors {
        .image-field__label {
            color: #ff5252;
        }
    }
    .image-field__label {
        display: block;
        font-size: 12px;
        margin: 0 0 5px 0;
        color: hsl(0, 0%, 45%);
    }
    .image-field__image-wrapper {
        margin: 0 0 5px 0;
        .image-field__image {
            height: 100px;
            max-width: 200px;
            border-radius: 3px;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center center;
        }
    }
    .image-field__input {
        display: block;
    }
    .image-field__errors {
        font-size: .9em;
        color: #ff5252;
        margin: 10px 0 0 0;
        .image-field__error {
            margin: 0 0 3px 0;
            &:last-child {
                margin: 0;
            }
        }
    }
}

.file-field {
    margin: 0 0 25px 0;
    &.no-margin {
        margin: 0;
    }
    &.has-errors {
        .file-field__label {
            color: #ff5252;
        }
    }
    .file-field__label {
        display: block;
        font-size: 12px;
        margin: 0 0 5px 0;
        color: hsl(0, 0%, 45%);
    }
    .file-field__input {
        display: block;
    }
    .file-field__errors {
        font-size: .9em;
        color: #ff5252;
        margin: 10px 0 0 0;
        .file-field__error {
            margin: 0 0 3px 0;
            &:last-child {
                margin: 0;
            }
        }
    }
}

.subform {
    color: #000000;
    overflow: hidden;
    border-radius: 3px;
    margin: 0 0 30px 0;
    background-color: #ffffff;
    &:last-child {
        margin: 0;
    }
    .subform-header {
        display: flex;
        flex-direction: row;
        box-sizing: border-box;
        padding: 15px 25px 11px 25px;
        border-bottom: 2px solid hsl(0, 0%, 95%);
        .subform-header__title {
            flex: 1;
            margin: 0;
            display: flex;
            font-size: 14px;
            font-weight: 500;
            flex-direction: row;
            align-items: center;
            text-transform: uppercase;
        }
        .subform-header__action {
            display: flex;
            flex-direction: row;
            align-items: center;
        }
    }
    .subform-content {
        padding: 20px 25px;
        box-sizing: border-box;
        &.no-padding {
            padding: 0;
        }
        &.border-top {
            border-top: 2px solid hsl(0, 0%, 95%);
        }
    }
    .subform-subheader {
        box-sizing: border-box;
        padding: 15px 25px 0 25px;
        border-top: 2px solid rgba(0, 0, 0, 0.1);
        .subform-subheader__title {
            margin: 0;
            font-weight: 400;
        }
        .subform-subheader__intro {
            font-size: .9em;
            margin: 10px 0 0 0;
            color: rgba(0, 0, 0, 0.90);
        }
    }
}

//
// Dialogs
//

.dialog {
    position: relative;
    background-color: hsl(0, 0%, 100%);
    .dialog__close-button {
        top: 25px;
        right: 20px;
        z-index: 100;
        padding: 0 15px;
        font-size: 1.1em;
        position: absolute;
        box-sizing: border-box;
        &:hover {
            cursor: pointer;
        }
    }
    .dialog-content {
        padding: 30px;
        position: relative;
        box-sizing: border-box;
        &.no-padding {
            padding: 0;
        }
        .dialog-title {
            font-size: 1.6em;
            font-weight: 300;
            line-height: 1.2em;
            margin: 0 0 30px 0;
            &.centered {
                text-align: center;
            }
            &.no-margin {
                margin: 0;
            }
            &.less-margin {
                margin: 0 0 15px 0;
            }
        }
        .dialog-subtitle {
            font-size: 1.4em;
            font-weight: 500;
            line-height: 1em;
            margin: 30px 0 15px 0;
        }
        .dialog-errors {
            display: flex;
            margin: 0 0 10px 0;
            flex-direction: row;
            .dialog-error {
                color: hsl(0, 79%, 43%);
                margin: 0 0 5px 0;
                &:last-child {
                    margin: 0;
                }
            }
        }
        .dialog-text {
            margin: 0 0 15px 0;
            &.centered {
                text-align: center;
            }
            &.no-margin {
                margin: 0;
            }
        }
        .dialog-image__wrapper {
            width: 100%;
            height: 250px;
            text-align: center;
            .dialog-image {
                width: 100%;
                height: 100%;
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center center;
            }
        }
        .dialog-description {
            
        }
        .dialog-list {
            border: 1px solid rgba(0, 0, 0, 0.1);
            .dialog-list-item {
                padding: 10px;
                display: flex;
                color: #000000;
                flex-direction: row;
                align-items: center;
                text-decoration: none;
                box-sizing: border-box;
                border-bottom: 1px solid rgba(0, 0, 0, 0.1);
                &:last-child {
                    border-bottom: 0;
                }
            }
        }
    }
    .dialog-controls {
        display: flex;
        padding: 25px;
        flex-direction: row;
        box-sizing: border-box;
        background-color: #f2f2f2;
        .dialog-controls__left, .dialog-controls__right {
            flex: 1;
            display: flex;
            flex-direction: row;
            align-items: center;
        }
        .dialog-controls__left {
            .v-btn {
                margin: 0 15px 0 0;
            }
        }
        .dialog-controls__right {
            justify-content: flex-end;
            .v-btn {
                margin: 0 0 0 15px;
            }
        }
    }
}

//
// Colored text
//

.green-text {
    color: #00ab16;
}
.red-text {
    color: #d50d06;
}
.orange-text {
    color: #d55706;
}

//
// Details
//

.details {
    color: #000000;
    margin: 0 0 30px 0;
    border-radius: 3px;
    background-color: #ffffff;
    &.compact {
        .detail {
            .key {
                flex: 0 0 150px;
            }
        }
    }
    &.no-margin {
        margin: 0;
    }
    &.bordered {
        border: 1px solid rgba(0, 0, 0, 0.1);
    }
    &.no-padding {
        .detail {
            padding: 7px 0;
        }
    }
    .details-header {
        padding: 10px 15px;
        box-sizing: border-box;
        border-bottom: 2px solid hsl(0, 0%, 95%);
        .details-header__title {
            margin: 0;
            font-weight: 500;
        }
    }
    .detail {
        display: flex;
        padding: 7px 15px;
        flex-direction: row;
        box-sizing: border-box;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        &:last-child {
            border-bottom: 0;
        }
        .key, .val {
            display: flex;
            flex-direction: row;
            align-items: center;
        }
        .key {
            flex: 0 0 250px;
            font-weight: 400;
        }
        .val {
            flex: 1;
        }
        &.bold {
            font-weight: 500;
            border-top: 1px solid rgba(0, 0, 0, 0.1);
        }
        &.total {
            text-transform: uppercase;
            .key, .val {
                font-weight: 600;
            }
        }
        &.faded {
            color: hsl(0, 0%, 45%);
        }
    }
    .detail-content {
        padding: 15px;
        box-sizing: border-box;
    }
    .no-details {
        padding: 7px 15px;
        box-sizing: border-box;
    }
}

.subdetails {
    .subdetail {
        display: flex;
        font-size: .8em;
        flex-direction: row;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        &:last-child {
            border-bottom: 0;
        }
        .key {
            flex: 0 0 100px;
        }
        .val {
            flex: 1;
        }
    }
}

//
// Content card
//

.content-card__title {
    font-size: 2em;
    font-weight: 300;
    margin: 0 0 10px 0;
    &.mt {
        margin-top: 30px;
    }
}
.content-card__small-title {
    font-size: 1em;
    font-weight: 300;
    margin: 0 0 5px 0;
    &.align-right {
        text-align: right;
    }
    &.mt {
        margin-top: 30px;
    }
}
.content-card__description {
    font-size: 1em;
    font-weight: 300;
    margin: -10px 0 10px 0;
    color: rgba(0, 0, 0, 0.55);
}
.content-card {
    border-radius: 3px;
    background-color: hsl(0, 0%, 100%);
    &.mb {
        margin: 0 0 50px 0;
    }
    .content-card__content {
        padding: 25px;
        box-sizing: border-box;
        &.centered {
            text-align: center;
        }
        &.no-padding {
            padding: 0;
        }
        h3 {
            font-size: 1.4em;
            margin: 5px 0 25px 0;
        }
    }
    .content-card__footer {
        display: flex;
        padding: 15px 25px;
        flex-direction: row;
        box-sizing: border-box;
        background-color: hsl(0, 0%, 95%);
        .content-card__footer-links {
            margin: 0;
            padding: 0;
            list-style: none;
            .footer-link__wrapper {
                margin: 0 0 5px 0;
                &:last-child {
                    margin: 0;
                }
                .footer-link {
                    text-decoration: none;
                    color: hsl(0, 0%, 0%);
                }
            }
        }
        .content-card__footer-left {
            flex: 1;
            display: flex;
            flex-direction: row;
            align-items: center;
        }
        .content-card__footer-right {
            flex: 1;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-end;
        }
    }
}

//
// Page controls
//

.page-controls {
    margin: 0;
    display: flex;
    flex-direction: row;
    &.mt {
        margin-top: 30px;
    }
    &.mb {
        margin-bottom: 30px;
    }
    .page-controls__left, .page-controls__right {
        flex: 1;
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .page-controls__left {
        .v-btn {
            margin: 0 15px 0 0;
        }
    }
    .page-controls__right {
        justify-content: flex-end;
        .v-btn {
            margin: 0 0 0 15px;
        }
    }
}

.delete-dialog {
    width: 600px;
    margin: 0 auto;
}

//
// Overviews
//

.no-records {
    padding: 25px;
    border-radius: 3px;
    box-sizing: border-box;
    background-color: hsl(0, 0%, 95%);
}

.card-grid {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 0 -15px -30px -15px;
    &.thirds {
        .card-wrapper {
            flex: 0 0 33.33%;
        }
    }
    .card-wrapper {
        flex: 0 0 50%;
        box-sizing: border-box;
        padding: 0 15px 30px 15px;
        .card {
            display: flex;
            color: #000000;
            border-radius: 3px;
            padding: 35px 25px;
            align-items: center;
            text-decoration: none;
            box-sizing: border-box;
            flex-direction: column;
            justify-content: center;
            background-color: #ffffff;
            transition: all .3s;
            &:hover {
                background-color: hsl(0, 0%, 95%);
            }
            .card-icon {
                font-size: 2em;
            }
            .card-title {
                font-size: 1em;
                text-align: center;
            }
            .card-subtitle {
                text-align: center;
                color: rgba(0, 0, 0, 0.45);
            }
        }
    }
}

//
// Tags
//

.tags {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 0 -5px -10px -5px;
    .tag-wrapper {
        padding: 0 5px 10px 5px;
        box-sizing: border-box;
        .tag {
            color: #000;
            font-size: .9em;
            padding: 2px 5px;
            border-radius: 3px;
            transition: all .3s;
            text-decoration: none;
            background-color: hsl(0, 0%, 95%);
            &:hover {
                background-color: hsl(0, 0%, 85%);
            }
        }
    }
}



















//