@import "imports";
@import "general";

//
// Manage users
//

#admin-users-view {
    display: flex;
    flex-direction: row;
    #admin-users-view__left {
        flex: 1;
    }
    #admin-users-view__right {
        flex: 0 0 300px;
        margin: 0 0 0 30px;
        #admin-users-view__actions {
            .v-btn {
                margin: 0 0 15px 0;
                &:last-child {
                    margin: 0;
                }
            }
        }
    }
}

#ban-dialog {
    width: 600px;
    margin: 0 auto;
}


//
// Admin Settings overview
//

#settings-overview {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 0 -15px -30px -15px;
    .settings-overview__link-wrapper {
        flex: 0 0 33.33%;
        box-sizing: border-box;
        padding: 0 15px 30px 15px;
        .settings-overview__link {
            display: flex;
            height: 100px;
            color: #000000;
            border-radius: 3px;
            flex-direction: row;
            align-items: center;
            text-decoration: none;
            justify-content: center;
            background-color: #fff;
            transition: all .3s;
            &:hover {
                background-color: hsl(0, 0%, 95%);
            }
            .link-icon {
                font-size: 2em;
            }
            .link-text {
                margin: 0 0 0 15px;
            }
        }
    }
}

